@model KT_System.Models.TransactionViewModel
@{
    ViewData["Title"] = "Danh sách giao dịch";
    Layout = "_Layout";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">@ViewData["Title"]</h1>
    <form>
        <p>
            <input type="datetime-local" name="FromDate" />
            <input type="submit" value="Get Transactions" />
        </p>
    </form>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Transactions.ToList()[0].PhieuThuId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Transactions.ToList()[0].TenDichVu)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Transactions.ToList()[0].MaDichVu)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Transactions.ToList()[0].HoTenKhachHang)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Transactions.ToList()[0].MaKhachHang)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Transactions.ToList()[0].SoTien)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Transactions.ToList()[0].NguoiNopTien)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Transactions.ToList()[0].IsPhieuChi)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Transactions.ToList()[0].MaCanBoChiDinh)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Transactions.ToList()[0].MaKhoaChiDinh)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Transactions.ToList()[0].MaPhongChiDinh)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Transactions.ToList()[0].MaCanBoXuLy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Transactions.ToList()[0].MaKhoaXuLy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Transactions.ToList()[0].MaPhongXuLy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Transactions.ToList()[0].NgayTao)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Transactions)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhieuThuId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenDichVu)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaDichVu)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HoTenKhachHang)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaKhachHang)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SoTien)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NguoiNopTien)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsPhieuChi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaCanBoChiDinh)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaKhoaChiDinh)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaPhongChiDinh)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaCanBoXuLy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaKhoaXuLy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaPhongXuLy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NgayTao)
                                </td>
                                <td>
                                    @Html.ActionLink("Tiếp nhận", "Edit", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->